root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
max_line_length = 140
ij_kotlin_imports_layout = *, ^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_packages_to_use_import_on_demand = unset

# ktlint-specific overrides (Compose-friendly)
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_property-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_class-naming = disabled

[*.{yml,yaml,toml,json}]
indent_size = 2

[**/build/**]
ktlint = disabled

[**/generated/**]
ktlint = disabled

[**/.gradle/**]
ktlint = disabled

